

.disc{
    width: 50%;
    margin-left: 25%;
    height: 20%;
    padding: 10px;
}
.sele{
    height: 30px;
    font-size: 15px;
    height: 10px;
    padding: 10px;
}
.pa{
    padding: 8px;
    font-size: large;
}
.ssle{
    width: 40%;
    margin-top: -7px;
}